#main-container {

    width: 800px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    margin: 0 auto;
}

#image{
    height: 250px;
    width: 200px;
    background-color: green;
}

#img-box{
    position: absolute; right: 20; top: 20;
}


#desc-box{
    height: 400px;
    margin-top: 100px;
    border-style: solid;
    border-width: 2px;
    font-size: 18px;
    padding: 5px;
}

.fieldInput{
    margin-bottom:5px;
}

.button{
    width: 100px; 
    height: 30px;
}


